*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
.wrapper{
    display: flex;
    width: 100px;
    height: 100vh;
    flex-wrap: wrap;
}
.left-col, .right-col{
    flex-basis: 50%;
    height: 100vh;
    position: relative;
}
.logo{
    display: block;
    width: 80px;
    margin-top: 30px;
    margin-left: 120px;
}
